@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-700;
}

h1{
    @apply text-5xl text-white my-8;
}

.btn{
    @apply bg-gray-800 text-white p-3 rounded-xl text-lg;
}

.btn:hover{
    @apply bg-gray-900;
}

.card{
    @apply bg-gray-800 rounded-xl p-8 text-white text-xl mb-5 w-[80vw];
}

.empty{
    @apply border-l-4 border-red-500;
}

form{
    @apply w-[50vw] grid p-8 bg-gray-800 rounded-xl h-full;
}

input{
    @apply w-full p-3 text-lg text-white bg-gray-700 rounded-xl mb-5;
}
label{
    @apply text-3xl text-white mb-5;
}

main{ 
    @apply justify-center items-center grid;
}

select{
    @apply w-full p-3 text-lg text-white bg-gray-700 rounded-xl mb-5;
}

input::placeholder{
    @apply opacity-30;
}
